# Rails

snippet logi
	Rails.logger.info  { "${1:message}" }${2}
snippet logd
	Rails.logger.debug { "${1:message}" }${2}
snippet logw
	Rails.logger.warn  { "${1:message}" }${2}
snippet loge
	Rails.logger.error { "${1:message}" }${2}
snippet logf
	Rails.logger.fatal { "${1:message}" }${2}

